
.uncw-banner {
    background-color: var(--sys-primary);
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    
    img {
        max-width: 400px;
        height: auto;
        margin: 0px auto;
        padding: 15px;
        display: block;
    }
}